:root{
    --primary--color: #2715FF;
    --secondary--color: white;
    --grey-1: #f6f7f9;
    --grey-2: #fff3f4;
    --grey-3: #929292;
    --black-1: #000;
    --black-2: #191c1f;
}

body{
    font-family: Rubik, sans-serif;
    background-color: #F6F7F9;
    overflow-x: hidden;
    width: 100vw;
    height: max-content;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background: var(--primary--color);
    border-radius: 20px;
}

body::-webkit-scrollbar-track{
    background: rgb(255, 255, 255);
}