header {
  width: 100vw;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: white;
  padding-bottom: 120px;
}

header > img {
  width: 140px;
}

.mobileHeader {
  display: none;
}

.containerHeader > ul {
  display: flex;
  gap: 20px;
}

.containerHeader > ul > li > a:hover {
  color: var(--primary--color);
  transition: all 0.4s ease;
  font-size: 16px;
}

.containerHeader__mobile {
  display: none;
  position: absolute;
  top: 60px;

  align-items: center;
  justify-content: center;
  width: 100vw;
}

.containerHeader__mobile > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  gap: 30px;
  transition: all ease 0.6s;
  text-align: center;
}

.containerHeader__mobile > .hiddenMenu {
  transition: all ease 0.6s;
  opacity: 0;
}

.containerHeader__mobile > ul > li > a:hover {
  color: var(--primary--color);
  transition: all 0.4s ease;
}

.containerIdioma {
position: absolute;
left: auto;
top: 60px;
right: 16%;

padding: 20px;
border-radius: 18px;
height: 0px;
padding: 0px;
overflow: hidden;
transition: all 0.8s ease;
border: 1px solid rgba(0,0,0,0);
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%);
}

.containerIdiomaOpen {
    height: 120px;
    padding: 20px;
}

.containerIdioma > h2 {
  font-weight: 600;
  display: none;
}

.containerIdioma > ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.containerIdioma > ul > li {
  display: flex;
  align-items: center;

  gap: 10px;
}

.containerIdioma > ul > li > img {
  width: 35px;
  height: 35px;
}

.imgidiomaClassDektop{
transition: all 0.5s;
  transform: rotate(-90deg);
}

.imgidiomaClass {
  transition: all 0.5s;
  transform: rotate(-90deg);
  display: none;;
}

.imgidiomaClass_open {
  transform: rotate(0deg);
}

.mobileIdioma {
  display: none;
}

.liIdioma{
    left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 1440px) {
    .containerIdioma {
        right: 14%;
    }
}

@media (max-width: 1024px) {
  .containerHeader > ul {
    display: none;
  }

  .containerHeader__mobile {
    display: flex;
  }

  .mobileHeader {
    display: flex;
  }

  .containerIdioma {
    width: 100%;
    border-radius: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 80px;
    gap: 20px;
    height: 0px;
    transition: height 0.5s ease;
    overflow: hidden;
    background-color: transparent;
    padding: 0px;
    left: 0px;
  }

  .containerIdioma > h2 {
    display: block;
  }
  .containerIdioma > ul {
    flex-direction: row;
  }

  .containerIdiomaOpen {
    height: 115px;
    padding: 0px;
    padding-top: 10px;
  }

  .mobileIdioma {
    display: flex;
    position: absolute;
    top: 17px;
    left: auto;
    right: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
  }

  .imgidiomaClass {
    display: block;
  }
}

@media (max-width: 600px) {
  header > img {
    width: 140px;
  }
}

@media (max-width: 380px) {
    .mobileIdioma {
        right: 22.5%;
    }
}