body {
  display: flex;
}

.lado-esquerdo {
    width: 60%;
    height: 100%;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    overflow: auto;
}

.lado-esquerdo .titulo {
    color: #383838;
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 25px;
}

.lado-esquerdo .logo img {
    height: 30px;
}

.lado-direito {
    width: 40%;
    height: 100%;
    background: linear-gradient(141.5deg,#1416b1 2.54%,#2124fc 96.23%);
    position: relative;
    overflow: hidden;
    user-select: none;
}

.lado-direito img {
    height: 110%;
    position: absolute;
    right: 0;
    top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"], input[type="text"], input[type="password"], input[type="number"], select {
    background: #fff;
    border: 2px solid rgba(0,0,0,.03)!important;
    border-radius: 6px;
    height: 56px;
    font-family: Roboto;
    margin-bottom: 8px;
    color: #495057;
    font-size: .875rem;
    padding: 8px;
    max-width: 500px;
}

input::placeholder {
    color: #a7b2bb;
}

input:disabled {
    background: #f4f4f4;
    cursor: not-allowed;
}

input[type="submit"] {
    color: #fff;
    background-color: #2124fc;
    border-radius: 6px;
    height: 48px;
    font-family: Roboto;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    max-width: 500px;
}

.link-registro {
    font-size: 16px;
    color: #595959;
    font-weight: 300;
}

.link-registro a {
    font-weight: 600;
    text-decoration: none;
    color: #2124fc;
}

.lembre {
    display: flex;
    align-items: center;
}

.lembre input[type="checkbox"] {
    margin-right: 6px;
}

.lembre-esqueceu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 20px;
    color: #595959;
    font-weight: 300;
    font-size: 14px;
    max-width: 500px;
}

input[type="checkbox"] {
    margin: 0;
}

@media only screen and (max-width: 728px) {
    .lado-esquerdo {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        align-items: center;
    }

    .lado-esquerdo .content {
        width: 90%;
    }

    .lado-direito {
        display: none !important;
    }
}