.info-pixels p{
    font-weight: 400;
    color: rgb(77, 77, 77);
    letter-spacing: 0.2px;
}

.info-pixels b{
    color: black;
}

.ed-options{
    height: 80px;
    align-items: flex-end;
    padding-bottom: 10px;

}

.ed-options a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s color;
}

.ed-options a:hover{
    color: red;
}

.ed-options button{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    padding: 8px 15px 8px 15px;
    outline: 0;
    border: solid 1px #757575;
    border-radius: 5px;
    transition: 0.3s background-color, 0.3s color, 0.3s border;
}

.ed-options button:hover{
    background-color: #2323ff;
    color: white;
    border-color:#2323ff;
    cursor:pointer;
}

#rec-boleto{
    margin-top: 40px;
}

.name-bol{
    color: rgb(70, 70, 70);
}